body {

}
.red {
  color: black;
  display: inline-block;
}
.red:hover {
  transition: background .2s ease-in;
  border-radius: 4px;
background-color: #cb4809;
}
.orange {
  color: black;
  display: inline-block;

}
.orange:hover {
  transition: background .2s ease-in;
  border-radius: 4px;
background-color: #dc7b34;
}
.yellow {
  display: inline-block;
  color: black;
}
.yellow:hover {
  transition: background .2s ease-in;
  border-radius: 4px;
background-color: #ffff57;
}
.green {
  display: inline-block;
  color: black;
}
.green:hover {
  transition: background .2s ease-in;
  border-radius: 4px;
background-color: #8affb4;
}
.blue {
  display: inline-block;
  color: black;
}
.blue:hover {
  transition: background .2s ease-in;
  border-radius: 4px;
  background-color: #39ffa8;
}
.purple {
  display: inline-block;
  color: black;
}
.purple:hover {
  transition: background .2s ease-in;
  border-radius: 4px;
  background-color: #cb4809;
}
